@import 'reset/mixins.scss','reset/reset.scss','reset/variables.scss','reset/keyframes.scss';


body{
    font-family: var(--tipografia);
    font-weight: 600;
    text-align: center;  
    
    background: url(../assets/paper.jpg)  repeat ;
    background-size: 40%;
}
 

.header{
    width: 100%;
    padding: 1.2em;
    text-transform: uppercase;
    @include flexible (row,wrap,space-between,center);

    z-index:4;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s ease;
    @media only screen and (max-width:960px){
        @include flexible (row,wrap,center,center);
        max-height: 100%;    
    } 
    &.ampliar{
        background-color: rgba(255, 255, 255, 0.897);
        @media only screen and (max-width:960px){
            width: 100%;
            background-color: var(--colorFondo);   
        } 
    }
    &__h1{
        transform: scale(1);
        transition: all .6s ease;
        @media only screen and (max-width:960px){
            width: 100%;
        } 
        &:hover{
            transform: scale(1.2);
        }
    }
    &__nav{
        width:60%;
        font-size: 1.3em;
        opacity: 1;
        transition: all .5s ease;
        @media only screen and (max-width:960px){
            width: 100%;
            height: 100vh;
            opacity: 0;
            position: fixed;
            bottom: 0;
            padding: 1em 0;
            transform: translateY(100%);  
            @include flexible (row,wrap,center,center);    
        } 
        &.abrir{
            opacity: 1;
            transform: translateY(0%);
            background-color:var(--colorLetras);
            color: var(--colorSecundario);
        }      
    }
    &__ul{
        @include flexible (row,wrap,flex-end,center); 
        @media only screen and (max-width:960px){
            width: 100%;
            
            margin: 2em 0;
        }     
    }
    &__li{
        margin:0 .6em;
        padding: .6em ;
        
        position: relative;
        transition: all .4s ease;
        @media only screen and (max-width:960px){
            width: 100%;
            margin: auto;
            padding: .2em;
            margin: 1em 0;
        } 
        &:hover{
            color: var(--colorSecundario);
        }
    } 
    &__svg{
        position: absolute;
        left: 4px;
        top: 1.3em;
        transform-origin: left;
        opacity: 0;
        transition: all .8s ease;
        transform: scaleX(0) translateX(-150%)  skew(60deg);
        pointer-events: none;
        @media only screen and (max-width:960px){
            display: none;
        }
        &.des{
            opacity: 1;
            transform:scaleX(1) translateX(0)  skew(0deg,);
        }
    }
    &__a{
        @media only screen and (max-width:960px){
            display: inline-flex;
            margin: auto;
            text-transform: uppercase;
        }    
    }

    &__menu{
        position: absolute;
        width: 2em;
        height: 2em;
        background-color: var(--colorLetras);
        opacity: 0;
        cursor: pointer;
        transform: rotateZ(0);
        transition: all .6s ease;

        @media only screen and (max-width:960px){
            position: fixed;
            opacity: 1; 
            bottom: 1em; 
            right: 1em; 
        }
        &.cerrar{
            transform: rotateZ(45deg);
        }
        &::before{
            content: '';
            width: 2em;
            min-height: .1em;
            background-color: white;
            position: absolute;
            bottom: 1em;
            left: 0; 
        }
        &::after{
            content: '';
            width: .1em;
            height: 2em;
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 1em;
        }
    }
}
.main{
    width: 100%;
    
    @include flexible (column,nowrap,center,center); 
}

// PÁGINA INICIO

.inicio{
    width: 100%;
    height: 100vh;
    font-size: 1.8em;
    
    @include flexible (column,nowrap,center,center); 
    @media only screen and (max-width:960px){
        min-height: auto;
        background: url(../assets/paper_movil.png);
    }
   
    &__nubes{
        width: 30%;
        animation: nube 4s  ease both ;
        position: absolute;
        top: 6em;
        z-index: 0;
        @media only screen and (max-width:960px){
            display: none;
        }
    }
    &__gotas{
        width: 20%;
        animation: got 4s  ease both ;
        position: absolute;
        top: 4em;
        left: 30%;
        transform: rotate(60deg);
        z-index: 0;
    }
    &__fondo{
        width: 30%;
        animation: acuarela 4s  ease both .2s;
        position: relative;
        z-index: 2;
        @media only screen and (max-width:960px){
            width: 80%;
            min-height: auto;
        }
    }
    &__h3{
        width: 15%;
        font-size: .9em;
        color: rgb(109, 223, 238);
        position: absolute;
        z-index: 3;
        @media only screen and (max-width:960px){
            width: 60%;
            min-height: auto;
        }
    }
    &__strong{
        width: 100%;
        font-size: .7em;
    }
    &__p{
        font-size: .6em;
    }
}
// PÁGINA PROYECTOS
.proyectos{
    width: 100%;
    padding-top: 3.4em;
    background: var(--colorTerc);
    color: white;
   
    background-color: var(--colorTerc);
   
    @include flexible (row,wrap,center,center);
    
    @media only screen and (max-width:960px){
        height: inherit;
        }
    &__h2{
        @include fontSecciones;
        color: var(--colorLetras);
        padding: 1.2em;
        background-image: url(../assets/fondotexto.png);
        background-size: cover;
    }
    &__tipo{
        width: 100%;
      
        @include flexible (row,wrap,center,center);

        position: relative;   
    }
    &__h3{
        width: 100%;
        padding: 2em 0;
        font-size: 2em;
    }
    &__p{
        width: 100%;
    }
    &__seccion{
        width: 20%;
        background-color: rgba(255, 255, 255, 0.13);
        margin: 2em;
        border-radius: 15px;
        
        @include flexible (column,nowrap,flex-start,center); 
        position: relative;
        
        opacity: 1;
        transform: scale(1);
        transition: all .6s ease;
        
        @media only screen and (max-width:960px){
            width: 100%;
            font-size: .9em;
            height: auto;
        }
    }    
    &__icono{
        cursor: pointer;
        font-size: 2em;
        position: absolute;
        bottom: 35%;
        z-index: 3;
    }  
    
    &__titulo{
        font-size: 1.2em;
        font-weight: 800;
        padding: 1.3em;
    }
    &__git{
        opacity: 0;
        @include flexible (column,nowrap,flex-start,center);  
        transition: all 2s ease;
        pointer-events: none;
        &.play{
            opacity: 1;
            pointer-events: inherit;
        } 
    } 
    &__gif{
        width: 20%;
        @media only screen and (max-width:960px){
            width: 70%;
        }
    }  
    &__a{
        padding: .6em;
        transition: all .4s ease;
        z-index: 6;
        @include flexible (column,nowrap,flex-start,center);  
        &:hover{
            color: var(--colorSecundario);    
        }
    }
  
}
// PÁGINA ABOUT

.about{
    width: 100%;
    line-height: 1.6em;
    padding: 6em 0 0 0;
    background-image: url(../assets/fondoblanco.png);
    background-color: var(--colorTerc);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    @include flexible (column,nowrap,center,center); 
    &__h2{
        @include fontSecciones;
        color: var(--colorLetras);
        padding: 1.2em;
        background-image: url(../assets/fondotexto.png);
        background-size: cover;
    }
    &__grid{
        width: 50%;
        margin: auto;    
        height: 80vh;
        background-image: url(../assets/gotas.png);

        display: grid;
        grid-template-columns: repeat( 4, 1fr);
        grid-template-rows: repeat(4,1fr);
        gap: .2em;
        
        @media only screen and (max-width:960px){
            width: 100%;
            font-size: .6em;
            padding: .2em;
        } 
    }
    &__h3{
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 700;
    }
    &__item{
        padding: 1em;
        @include flexible (column,nowrap,center,center); 
        @media only screen and (max-width:960px){
            padding: .1em;
        }
        &.descripcion{
            grid-column: 1/4;
        }
        &.tec{
            grid-column: 1/5;    
        }
        &.imagen{
            grid-column: -1/-3;  
            grid-row: -1/-4; 
            overflow: hidden;
            opacity: .8; 
        }
        .item__img{
            width: 70%;
        }
        &.prop{
            grid-column: -5/-3;      
        }
    }
}

// PÁGINA CONTACTO
.contacto{
    width: 100%;
    min-height: 10%;
    padding: 3em 0;
    background-color: var(--colorTerc);
    &__p{
        display: inline-flex;
        background-color: var(--colorSecundario);
        border-radius: 15px;
        padding: .2em .6em;
        transform: scale(1);
        transition: all .4s ease;    
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__pop{
        width: 50%;
        min-height: 30%;
        padding: 1em 1em 4em;
        @include glass;
        color: var(--colorLetras);
        pointer-events: none;
        position: fixed;
        top: 10%;
        left: 25%;
        z-index: 6;
        opacity: 0;
        transform: translateY(100%);
        transition: all .4s ease;
        @media only screen and (max-width:960px){
            width: 96%;
            max-height: 70%;
            top: 10%;
            left: 3%;
            background-color: var(--colorFondo);
        } 
        &.up{
            opacity: 1;
            transform: translateY(0);    
            @include flexible (column,nowrap,space-between,center); 

            pointer-events: initial;
        }
    }
    &__cerrar{
        cursor: pointer;
        font-size: 1.2em;
        transform: scale(1);
        transition: all .4s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__formulario{
        width: 90%;
        @include flexible (row,wrap,space-between,center); 
        @media only screen and (max-width:960px){
            @include flexible (column-reverse,wrap,space-between,center); 
        }    
    }
    &__columna{
        width: 50%;
        min-height: 30em;
        // background-color: var(--c);
        @include flexible (column,nowrap,center,center);
        @media only screen and (max-width:960px){
            width: 100%;
            min-height: 400px;
        } 
        &.saludo{
            @media only screen and (max-width:960px){
                display: none;
            }     
        }   
    }
   
    &__li{
        width: 100%;
        font-size: .8em;
        margin: 2em 0;
    }
    .fab{
        font-size: 2em;
        transition: all .4s ease;
        transform: scale(1);
        &:hover{
            transform: scale(1.2);
        }
    }
    &__img{
        width: 15em;
         
    }
}
.form{
    width: 90%;
    margin: 2em 0;
    @include flexible (column,nowrap,center,center); 
    &__campo{
        width: 100%;
    }
    &__entrada{
        width: 100%;
        margin: 1em 0;
        padding: .6em;
        
        border:2px solid var(--colorLetras) ;
        border-radius: 10px;
        &.mensaje{
            height: 8em;
        }
    }
    &__boton{
      background-color: var(--colorLetras);  
      color: var(--colorSecundario);
      padding: .4em 1em;
      border-radius: 15px;
      transform: scale(1);
      transition: all .4s ease;
      &:hover{
        transform: scale(1.1);
      }
    }
}
// FOOTER
.footer{
    width: 100%;
    background-color: var(--colorTerc);
    padding-bottom: .2em;
    color: var(--colorSecundario);
    z-index: -1;
    @include flexible(column,nowrap,center,center);
    &__h2{
      margin: 1em 0;
    }
    &__ul{
        width: 100%;
        @include flexible(row,wrap,center,center); 
        font-size: 1.8em;    
    }
    &__li{
        margin: 0 .4em;
        transform: scale(1);
        transition: all .4s ease;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__copy{
        font-size: .8em;
        padding: .6em 0;
    }
}


@keyframes acuarela{
    from{
        transform-origin: center;
        transform: scale(0) rotate(20deg);

        opacity: 0;
    }
    to{
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}
@keyframes nube{
    from{
        transform-origin: center;
        transform: scale(0);

        opacity: 0;
    }
    to{
        transform: scale(.81) ;
        opacity: .6;
    }
}
@keyframes got{
    from{
        transform-origin: right;
        transform: rotateY(90deg);
        
        opacity: 0;
    }
    to{
        transform: rotateY(0) ;
        opacity: 1;
        
    }
}